.home-container {
  min-height: 88vh;
  width: 100%;
  background-image: url("/images/background.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 20px;
}

.navbar-link,
.redirect-link {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 20px;
  border: 2px solid white;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  margin: 20px auto;
  max-width: 200px;
  text-align: center;
}

.navbar-link:hover,
.redirect-link:hover {
  background-color: white;
  color: black;
}

.custom-navbar {
  background-color: rgba(255, 255, 255);
}

* {
  box-sizing: border-box;
}

.dropdown-toggle::after {
  display: none;
}
